<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>
<!--top--------------------------------------------------------------------------------------------------------------->

    <center>
        <h1>存储过程已经被调用</h1>
    </center>

<!-------------------------------------------------------------------------------------------------------------------->
</body>

</html>
